body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 50px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 250%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

